<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication">

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/logo_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApplication">
        <activity android:name=".ShakerScreenfailure">
        </activity>
        <activity android:name=".Nodrillingfluidflowingtoshaleshake">
        </activity>
        <activity android:name=".Oversizedcuttingseturnedtoactivesystem">
        </activity>
        <activity android:name=".Mudoverflowingshaleshakerscreen">
        </activity>
        <activity android:name=".Cuttingsmovingerraticallyonshakerscreen">
        </activity>
        <activity android:name=".Noisyoperation">
        </activity>
        <activity android:name=".Motoroverheating">
        </activity>
        <activity android:name=".Motor_will_not_start">
        </activity>
        <activity android:name=".Desander">
        </activity>
        <activity android:name=".shale_shaker">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>